/* Navbar1.css */
.navbar-link {
  text-decoration: none; /* Remove underline */
  color: inherit;       /* Inherit text color */
}

.navbar-link-visited {
  color: inherit;       /* Maintain the same color for visited links */
}

.navbar {
  background-color: #333 !important;
  color: #fff !important;
}

.navbar .navbar-title {
  /* flex-grow: 1; */
  text-decoration: none;

}

.navbar .navbar-links {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.navbar .navbar-buttons {
  display: flex;
  gap: 16px;
}

.navbar .signup-button {
  color: #fff;
  border-color: #fff;
}
